.perfil {
    width: 150px; /* Tamanho da imagem */
    height: 150px;
    border-radius: 50%; /* Deixa a imagem redonda */
    display: block;
    margin: 20px auto; /* Centraliza a imagem */
    border: 3px solid #222; /* Adiciona uma borda */
    object-fit: cover; /* Ajusta a imagem para preencher sem distorcer */
}

body {
    font-family: Poppins, sans-serif;
    background-color: #F7F3E9;
    color: #222;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: normal;
    padding: 10px;
}

nav ul li a.active, nav ul li a:hover {
    font-weight: bold;
}

nav ul li a.inactive, nav ul li a:hover {
    font-weight: bold;
    color: #B3B3B3;
}

main {
    padding: 50px 20px;
}

footer {
    background-color: #000;
    color: white;
    padding: 1px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
